<div class="form-group">
    <label for="prop.{{name}}" class="col-sm-2 control-label">{{name}}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="prop-{{name}}" placeholder="{{description}}">
    </div>
</div>