<div class="form-group">
    <label for="prop.{{name}}" class="col-sm-2 control-label">{{name}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="prop-{{name}}" placeholder="{{description}}">
    </div>
    <div class="col-sm-1">
        <a href="#" data-toggle="modal" data-target="#delete-property-modal" class="btn btn-danger delete-property-button" data-prop-name="{{name}}"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>