<table class="table">
    <tr>
        <th>Name</th>
        <th>Access Key</th>
    </tr>
    {{#appkeys}}
    <tr>
        <td>{{name}}</td>
        <td>{{accessKey}}</td>
    </tr>
    {{/appkeys}}
</table>